@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("./fonts/Roboto"), local("./fonts/Roboto-Regular");
}

body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background-color: "grey";
}
